<h1>NodeJs  Admin  </h1>
<form method="POST" action="/">
    <div class="ui large form">
        <div class="three fields">
          <div class="field">
            <label>Username</label>
            <input type="text" required name="username" placeholder="Username" >
          </div>
          <div class="three wide field">
            <label>Password</label>
            <input type="password" required name="password" placeholder="Password" >
          </div>
        </div>
    </div>
    <button class="ui submit button">Submit</button>


</form>